width: 30px; 
  height: 50px; 
  top: 53px; 
  border-radius: 5px 40px 20px 40px; 
  background: #054c05; 
  transform-origin: bottom; 
  transform: rotate(-30deg); 
  top: 180px; 
  left: 80px; 
  box-shadow: inset 5px 5px #066406; 
} 
.leaves > div:nth-child(3) { 
  position: absolute; 
  width: 30px; 
  height: 50px; 
  top: 53px; 
  border-radius: 40px 5px 40px 20px; 
  background: #054c05; 
  transform-origin: bottom; 
  transform: rotate(30deg); 
  top: 150px; 
  left: 95px; 
  box-shadow: inset -5px 5px #066406; 
} 
 
.thorns > div { 
  position: absolute; 
  width: 0; 
  height: 0; 
  top: 140px; 
} 
.thorns > div:nth-child(odd) { 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-left: 5px solid #054c05; 
  left: 105px; 
} 
.thorns > div:nth-child(even) { 
  border-top: 5px solid transparent; 
  border-bottom: 5px solid transparent; 
  border-right: 5px solid #054c05; 
  left: 95px; 
} 
.thorns > div:nth-child(1) { 
  top: 200px; 
} 
.thorns > div:nth-child(2) { 
  top: 170px; 
} 
.thorns > div:nth-child(4) { 
  top: 230px; 
} 
 
@keyframes bloom2 { 
  50% { 
    transform: rotate(-90deg); 
    top: 200px; 
    left: 100px; 
  } 
  100% { 
    transform: rotate(-60deg); 
    top: 252px; 
    left: 50px; 
    background: #71122a; 
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0); 
  } 
} 
@keyframes bloom3 { 
  100% { 
    transform: rotate(45deg); 
  } 
} 
@keyframes bloom4 { 
  100% { 
    transform: rotate(-20deg); 
  } 
} 
@keyframes bloom5 { 
  100% { 
    transform: rotate(20deg); 
  } 
} 
@keyframes bloom6 { 
  100% { 
    transform: rotate(-5deg); 
  } 
} 
@keyframes bloom7 { 
  100% { 
    transform: rotate(5deg); 
  } 
} 
@keyframes glowing { 
  50% { 
    background: #d7365f; 
    box-shadow: 0px 0px 60px #f594b8; 
  } 
} 
@keyframes falling { 
  20% { 
    top: 335px; 
    background: #9d193b; 
    box-shadow: 0px 0px 0px rgba(245, 148, 184, 0); 
  } 
  100% { 
    top: 335px; 
    opacity: 0; 
  } 
} 
.text { 
  font-family: cursive; 
  font-weight: 800; 
  font-size: 25px; 
  text-align: center; 
  justify-content: center; 
  color: rgb(245, 20, 84); 
  text-shadow: 0 0 20px rgb(241, 94, 106); 
  margin-left: -100px; 
} 
.text a { 
  color: rgb(245, 20, 84); 
} 
.text a:hover { 
  color: white; 
  text-shadow: 0 0 20px rgb(235, 25, 42); 
}
